{% extends "model.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="container text-center mt-2 p-2 form">
         <h3 class="" >Upload Image</h3>
         <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{forms | crispy}}  
        <button type="submit" class="btn btn-danger">Upload</button>
        </form>
    </div>

    <div class="container mt-3">
        <div class="row">
            {% for x in view %}
               <div class="col-md-3">
                <div class="card border-secondary p-2 ">
                    <div class="card-body">
                        
                        <div class="delete">
                            <a href="delete/{{x.id}}/" > <button class="btn btn-danger">X</buttonc> </a>
                        </div>
                    </div>
                    <img src="{{x.image}}" alt="" class="card-image-bottomtext-center">
                    <h4 class="text-center text-primary">{{x.title}}</h5>   
                        <p>Width: {{x.image.width}} </p>
                        <p>Height : {{x.image.height}} </p>
                        <p>Size (bytes) :  {{x.image.size}} Bytes</p>
                   </div>
               </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}